# Don't track content of these folders
venv/
frames_non_qr/
frames_qr/
YOLO-TINY_QR/

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.xml
*.iml
*.csv
*.png
*.jpg

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip